/* 主體顯示一左一右 */

#mainContentView{
    display: flex;
}

/* 左半部分 */
#indexLeftDiv{
    width: 65%;
}

/* index table 主頁面表格 */
table {
    font-family: "consolas";
    border-collapse: collapse;
    /* 決定相鄰的border是否要合併:(th、td) */
    text-align: center;
    margin: 20px 0px 0px 20px;
}

/* 對表格增加邊框 */
#userTableView th, #userTableView td{
    border: 1px solid black;
    padding: 5px;
} 

/* 去除表格中title的邊框 */
#userTableView input {
    /* 放大字體，粗體 */
    font-family: Consolas;
    font-size: 16px;
    font-weight: bold;
    border: none;
    /* 控制左右長 */
    margin: 3px 0px;
    padding: 4px 0px;
}

/* 可動 */
.rowTitleText{
    width: 80%;
}

/* 不可動 */
.colTitleText{
    width: 140px;
}

#userTableView button{
    margin: 0px;
    width: 80%;
    height: 100%;
}


/* 右半部分 */
#indexRightDiv{
    width: 33%;
}

#courseListView th, #courseListView td{
    border: 1px solid black;
    padding: 5px;
} 